@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:black;
}
html{
    font-size: 17px;
    font-family: "Urbanist";
}
body{
    background-color: black;
}
h1,
h2,
h3,
h4,
h5{
    color: white;
}

p,li,a,button{
    font-size: 20px;
    letter-spacing: 0.1rem;
    line-height: 1.6;
    color: #fff;
}
li{
    list-style: none;
}

a{
    color: black;

    &:hover{
        color: #2e86c1;
    }
}
button{
    display: flex;
    gap: 1.2rem;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    padding: 0.6rem 2.4rem;
    text-align: center;
    outline: none;
    border: none;
    text-transform: unset;
    transition: all 0.3s ease-in-out;
    background:#202020;
    color: white;
    border-radius: 1.5rem;
    border-width: 0.1rem;
    border-style: solid;
    /* -webkit-border-radius:1.5rem;
    -moz-border-radius:1.5rem;
    -ms-border-radius:1.5rem;
    -o-border-radius:1.5rem; */
    margin-top: 1.6rem;
}
.container{
    max-width: 50rem;
    margin: auto;
}
.grid{
    display: grid;
}
.grid-two-cols{
    grid-template-columns: repeat(2,1fr);

}
.grid-three-cols{
    grid-template-columns: repeat(3,1fr);
}
.grid-four-cols{
    grid-template-columns: repeat(4,1fr);
}

header{
    height: 3.5rem;
    box-shadow: rgba(33,35,38,0.1) 0px 10px 10px -10px;
    background-color: #202020;
    width: 100%;

    &.container{
        height: 3.5rem;
    }
}
.navbar-grid{
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    height: 3.5rem;
    padding: 0 3.2rem;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    color: white;

    & li a{
        color: white;
    }
}
.ham-menu{
    display: none;
}

/* hero section */
.container.grid.grid-two-cols {
    margin: 2.5rem auto;
    gap: 2rem;
    padding: 1rem;
}

/* .container .hero-section{
    padding: 2.5rem;
    margin-top: 2rem auto;
    gap: 2.5rem;
} */
.paragraph{
    margin: 1.5rem 0;
}
.heading-xl{
    font-family: inherit;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -1px;
}
.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .banner-image{
    width: 100%;
}
@media screen and (max-width:850px) {
    .hero-content{
        order: 1;
    }
    .container .banner-image{
        width: 80%;
        order: 0;
    }   
    
}

/* ///about section */

.section-about{
    margin: 0 auto 9rem auto;
}
.gradiant-card{
    display: grid;
    grid-template-columns: repeat(3.1fr);
    gap:3.2rem;
}

@media screen and (max-width:850px) {
    .gradiant-card{
        grid-template-columns: 1fr;
    }
    
}

.container-title{
       text-align: center ;
       padding: 0 !important;
       margin-bottom: 40px;
       font-size: 40px;
       color: white;
       font-weight: 600;
       line-height: 60px;
}
.card{
    max-width: 55rem;
    border: 0;
    width: 100%;
    margin-inline: auto;
}
.container-card{
    position: relative;
    border: 2px solid transparent;
    background: linear-gradient(71deg,#080509,#1a171c,#080509);
    background-clip: padding-box;
    border-radius: 45px;
    padding: 40px;
}
.bg-yellow-box
.bg-blue-box{
    position: relative;
}

.bg-yellow-box
.bg-blue-box::after{
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    z-index: -1;
    border-radius: 45px;
}

.bg-blue-box::after{
    background:linear-gradient(71deg,#0c0a0e,#5f6fad,#0c0a0e);
}

